<%= form_for @kan_hyoka, url: dest do |f| %>
  <p>
    <%= f.label :kanchi_code %><br>
    <%= f.text_field :kanchi_code %>
  </p>
 
  <p>
    <%= f.label :fugo %><br>
    <%= f.text_field :fugo %>
  </p>

  <p>
    <%= f.label :men %><br>
    <%= f.text_field :men %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
