<h1>kan_hyoka_data</h1>
<%= link_to 'add_hyoka', new_kan_hyoka_path %> 
<br><br>
<table border=1>
  <%= render 'kan_hyoka_hd' %>
  <% @kan_hyokas.each do |a| %>
    <tr>
      <%= render 'kan_hyoka', obj: a %>
      <td><%= link_to '詳細', kan_hyokas_path(a) %></td>
      <td><%= link_to '編集', edit_kan_hyoka_path(a) %></td>
      <td><%= link_to '削除', kan_hyoka_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'back', kan_hyokas_path %>
