<h1>Kan_hyoka Details</h1><br>
<table border=1>
  <tr>
    <th>kanchi_code</th>
    <th>fugo</th>
    <th>men</th>
    <th>sisu</th>
  </tr>
  <tr>
    <%= render 'kan_hyoka', obj: @kan_hyoka %>
  </tr>
</table>
<%= link_to 'Back', kan_hyokas_path %>