<%= form_for @land do |f| %>
  <p>
    <%= f.label :f_code %><br>
    <%= f.text_field :f_code %>
  </p>

  <p>
    <%= f.label :f_code_p %><br>
    <%= f.text_field :f_code_parent %>
  </p>

 
  <p>
    <%= f.label :toki_chimoku %><br>
    <%= f.text_field :toki_chimoku %>
  </p>

  <p>
    <%= f.label :toki_men %><br>
    <%= f.text_field :toki_men %>
  </p>

  <p>
    <%= f.label :kijun_men %><br>
    <%= f.text_field :kijun_men %>
  </p>

  <p>
    <%= f.label :zen_m2sisu %><br>
    <%= f.text_field :zen_m2sisu %>
  </p>

    <%= f.label :sho_code %><br>
    <%= f.text_field :sho_code %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
