
  <td>
    <%= obj.f_code %>
  </td>

  <td>
    <%= if obj.f_code_parent == "" || obj.f_code_parent.nil?
          "---"
        else
          obj.f_code_parent
        end
    %>
  </td>

  <td>
    <%= obj.toki_chimoku %>
  </td>
  <td>
    <%= obj.toki_men %>
  </td>
  <td>
    <%= obj.kijun_men %>
  </td>
  <td>
    <%= obj.zen_m2sisu %>
  </td>
  <td>
    <%= obj.hyotei_sisu %>
  </td>
  <td><%= obj.kenri_sisu %></td>
  <td>
    <%= if obj.sho_code.nil? || obj.sho_code == ''
          "---"
        else
#          "+++"
          link_to obj.sho_code, owner_path(obj.sho_code)
        end
    %>
  </td>
  <td>
    <%= if obj.owner.nil?
          "---"
        else
          obj.owner.shimei
        end
    %>
  </td>
