<% provide(:title, "--従前地--") %>
<h1>従前地一覧</h1>
<%= form_tag lands_import_path, multipart: true do %>
<p>データ　インポート
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
</p>

<%= form_tag( lands_path, :method => :get ) do %>
  <%= label :sho_code, "所有者を選択" %>
  <%= text_field_tag :sho_code %>
  <%= submit_tag "表示", name: "get_by_sho" %>
<% end %>
</p>


<%= link_to '筆を追加', new_land_path %> 
<br><br>
<% obj = Owner.find_by( sho_code: params[:sho_code]) %>
所有者: <%= obj.shimei if obj %><br><br>
<table border=1>
  <tr>
    <th>f_code</th>
    <th>f_code_p</th>
    <th>toki_chimoku</th>
    <th>toki_men</th>
    <th>kijun_men</th>
    <th>zen_m2sisu</th>
    <th>hyotei_sisu</th>
    <th>kenri_sisu</th>
    <th>sho_code</th>
    <th>shimei</th>
  </tr>
 
  <% @lands.each do |a| %>
    <tr>
      <%= render 'fude', obj: a %>
      <td><%= link_to '権利', kenri_land_path(a) %></td>
      <td><%= link_to '編集', edit_land_path(a) %></td>
      <td><%= link_to '削除', land_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'back', lands_path %>
