
<h1>所有者別　従前地一覧</h1>
<table border=1>
  <%= render 'fude_hd' %>
  <% @lands.each do |land| %>
    <tr>
      <%= render 'fude', obj: land %>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', lands_path %>