<%= form_for @owner do |f| %>
  <p>
    <%= f.label :sho_code %><br>
    <%= f.text_field :sho_code %>
  </p>
 
  <p>
    <%= f.label :shimei %><br>
    <%= f.text_field :shimei %>
  </p>

  <p>
    <%= f.label :jusho %><br>
    <%= f.text_area :jusho %>
  </p>
 
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


