<h1>所有者一覧</h1>
<%= link_to '所有者を追加', new_owner_path %> 
<table border=1>
  <tr>
    <th>Sho_code</th>
    <th>Shimei</th>
    <th>Jusho</th>
    <th>Note</th>
  </tr>
 
  <% @owners.each do |a| %>
    <tr>
      <td><%= a.sho_code %></td>
      <td><%= a.shimei %></td>
      <td><%= a.jusho %></td>
      <td><%= a.note %></td>
      <td><%= link_to 'Show', owner_path(a) %></td>
      <td><%= link_to 'Edit', edit_owner_path(a) %></td>
      <td><%= link_to 'Destroy', owner_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'back', owners_path %>
