<h1>New Owner</h1>
<%= form_for :owner, url: owners_path do |f| %>
  <p>
    <%= f.label :sho_code %><br>
    <%= f.text_field :sho_code %>
  </p>
 
  <p>
    <%= f.label :shimei %><br>
    <%= f.text_field :shimei %>
  </p>

  <p>
    <%= f.label :jusho %><br>
    <%= f.text_area :jusho %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'back', owners_path %>

