<p>
  <strong>Owner(sho_code):</strong>
  <%= @owner.sho_code %>
</p>
 
<p>
  <strong>Shimei:</strong>
  <%= @owner.shimei %>
</p>
<p>
  <strong>Jusho:</strong>
  <%= @owner.jusho %>
</p>


<% @owner.lands.where( f_code_parent: "parent" ).each do |a| %>
    <% #next if a.f_code_parent.nil? %>
  <table border=1>
    <%= render 'lands/fude_hd' %> 
    <tr>
      <%= render 'lands/fude', obj: a %>
      <td><%= link_to '詳細', lands_path(a) %></td>
      <td><%= link_to '編集', edit_land_path(a) %></td>
    </tr>
    <% a.children.each do |b| %>
      <tr>
        <%= render 'lands/fude', obj: b %>
        <td><%= link_to '詳細', lands_path(b) %></td>
        <td><%= link_to '編集', edit_land_path(b) %></td>
      </tr>
    <% end %>
  </table>
  <table border=1>
    <%= render 'kan_hyokas/kan_hyoka_hd' %> 
    <% a.kanchis.each do |kan| %>
      <% kan.kan_hyokas.each do |b| %>
        <%= render 'kan_hyokas/kan_hyoka', obj: b %>
      <% end %>
      <%= render 'kanchis/kanchi_hd' %>
      <%= render 'kanchis/kanchi', obj: kan %>
    <% end %>


  </table><br><br>

<% end %>
<br>
<%= link_to 'Back', owners_path %>
<pre>
  テキスト
  表示の
  テスト
  
  です。
</pre>