<%= form_for @kanchi, url: dest do |f| %>
  <p>
    <%= f.label :kanchi_code %><br>
    <%= f.text_field :kanchi_code %>
  </p>
 
  <p>
    <%= f.label :f_code %><br>
    <%= f.text_field :f_code %>
  </p>

  <p>
    <%= (f.label :kenri_men) + 'テスト用' %><br>
    <%= f.text_field :kenri_men %>
  </p>

  <p>
    <%= f.label :kanchi_men %><br>
    <%= f.text_field :kanchi_men %>
  </p>

  <p>
    <%= f.label :kan_m2sisu %><br>
    <%= f.text_field :kan_m2sisu %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
