 
  <td>
    <%= obj.attributes[ :id ] %>
  </td>
  <td>
    <%= kCode_to_kakuchiNo( obj.kanchi_code ) %>
  </td>
  <td>
    <%= obj.f_code %>
  </td>
  <td>
    <%= obj.kenri_men %>
  </td>
  <td>
    <%= obj.kanchi_men %>
  </td>
  <td>
    <%= obj.kan_m2sisu %>
  </td>
