<% provide(:title, "--画地--") %>
<h1>Kanchi Data</h1>
<%= link_to 'add_kanchi', new_kanchi_path %> 
<br><br>
<table border=1>
  <%= Rails.root.to_s + "/xldata" %>
  <%= render 'kanchi_hd' %>
  <% @kanchis.order('updated_at DESC').each do |a| %>
    <tr>
      <%= render 'kanchi', obj: a %>
      <td><%= link_to '換地変更', kanchi_henkos_path({ get_exsisting: true, kanchi_henko: {f_code: a.f_code}}), method: :post %></td>
      <td><%= link_to '詳細', kanchi_path(a) %></td>
      <td><%= link_to '編集', edit_kanchi_path(a) %></td>
      <td><%= link_to '削除', kanchi_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'back', kanchis_path %>
