<% provide(:title, "--換地--詳細--") %>
<h1>Kanchi Details</h1><br>
<table border=1>
  <tr>
    <th>kanchi_code</th>
    <th>f_code</th>
    <th>kenri_men</th>
    <th>kanchi_men</th>
    <th>kan_m2sisu</th>
  </tr>
  <tr>
    <%= render 'kanchi', obj: @kanchi %>
  </tr>
</table>
<br>

<table border=1>
  <tr>
    <th>kanchi_code</th>
    <th>fugo</th>
    <th>men</th>
    <th>sisu</th>
  </tr>
 
  <% @kanchi.kan_hyokas.each do |a| %>
    <tr>
      <%= render 'kan_hyokas/kan_hyoka', obj: a %>
      <td><%= link_to '詳細', kan_hyokas_path(a) %></td>
      <td><%= link_to '編集', edit_kan_hyoka_path(a) %></td>
      <td><%= link_to '削除', kan_hyoka_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<%= render plain: debug(YAML::load( @kanchi.tmp_text )) %>







<%= link_to 'Back', kanchis_path %>