
<%= form_for @kanchi, :url => {:action => 'upload_save'} do |f| %>
  <p>
    <%= f.label :kanchi_code %><br>
    <%= f.text_field :kanchi_code %>
  </p>
 
  <p>
    <%= f.label :tmp_text %><br>
    <%= f.text_area :tmp_text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

