<h1>換地変更データ　最近のもの</h1>

<%= link_to '追加', new_kanchi_henko_path %> 
<br><br>
<table border=1>
  <tr>
    <th>f_code</th>
  </tr>
 
  <% @kanchi_henkos.each do |a| %>
    <tr>
      <td></td><%= a.f_code %></td>
      <td><%= link_to '編集', edit_kanchi_henko_path(a) %></td>
      <td><%= link_to '削除', kanchi_henko_path(a),
              method: :delete,
              data: {confirm: '本当に削除しますか？'} %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'back', kanchi_henkos_path %>
