<% provide(:title, ("--換地変更--" + @bl_lt)) %>
<h1>新しい換地変更データ</h1>

<%= form_for :kanchi_henko, url: kanchi_henkos_path do |f| %>
  <p>
    <%= f.label :f_code %><br>
    <%= f.text_field :f_code %><%= f.submit "既存データ取得", name: "get_exsisting" %>
  </p>

  <p>
    <%= f.label :details %><br>
    <table border=1><tr>
    <% size = @pre_view_txt.split(/\n/).size %>
    <% size = 30 if size < 30 %>
    <td><%= f.text_area :details, value: @edit_text, size: "60x#{size}" %></td>
    <td><pre><%= @pre_view_txt %></pre></td>
    </tr>
    </table>
  </p>
  <p>
    <%= f.submit "プレビュー", name: "pre_view" %> --------------
    <%= f.submit "更新", name: "update" %>
  </p>

<% end %>

<%= link_to 'back', kanchis_path %>
<pre>
<%= render text: new_text %>
</pre>